<% for(let post of posts) { %> 
    <li id="post-<%= post._id%>">
        <h4>
            <i class="fa-solid fa-user"></i>
            <%= post.user.name %>
        </h4>
        <p>
            <%= post.content %>
        </p>
        <div class="post-footer">
            <div class="like-comment">
                <% if(locals.user){ %>
                    <a class="like-posts" href="/user/like/?id=<%=post.id%>&type=Post" data-likes="<%= post.likes.length%>">
                        <span class="likeCount">
                            <%= post.likes.length %>
                        </span>
                        <i class="fa-regular fa-heart"></i></i></a>
                <% }else{ %>
                    <span>0</span>
                <% } %>
                <% if(locals.user){ %>
                    <a href="/user/comment/?id=<%= post._id %>">
                        <span>
                            <%= post.comment.length %>
                        </span>
                        <i class="fa-regular fa-comment"></i></a>
                <% }else{ %>
                    <span>0</span>
                <% } %>
                <% if(locals.user){ %>
                    <a href="/user/share">
                        <span>0</span>
                        <i class="fa-solid fa-share"></i>
                    </a>
                <% }else{ %>
                    <span>0</span>
                <% } %>
            </div>
            <div class="delete">
                <a href=""><i class="fa-solid fa-ellipsis-vertical"></i></a>
                <% if((locals.user) && (locals.user.id==post.user.id)){ %>
                    <a class="delete-post-button" href="/delete/post/?id=<%= post._id %>"><i class="fa-solid fa-trash"></i></a>
                <% } %>
            </div>
        </div>
    </li>
<% } %>



