<link rel="stylesheet" href="/css/log_in.css">
<h1>
    <%= heading %>
</h1>

<img src="<%= user_detail.avatar %>" alt="<%= user_detail.name %>" width="100">
<div>
    <h3>
        Name: <%= user_detail.name %>
    </h3>
    <h3>Name: <%= user_detail.email %></h3>
</div>

<div class="">
    <% if(locals.user.id == user_detail.id){ %>
        <form action="/user/editProfile/?id=<%= user_detail.id%>" enctype="multipart/form-data" method="post">
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="abc@gmail.com" required>
            </div>
            <br>
            <div>
                <label for="name">Name : </label>
                <input type="text" id="name" name="name" placeholder="Enter username">
            </div><br>            
            <div>
                <input type="file" name="avatar" placeholder="Profile picture">
            </div>
            <button type="submit">Edit</button>
        </form>
    <% } %>
</div>
<div>
    <%if((locals.user.id != user_detail.id)) { %>
        <a class="add-friend" href="/add-friend/?fid=<%=user_detail.id%>">
            Add friend
        </a>
    <% } %>
</div>
<script>
    let link = $('.add-friend');
    console.log('<%= locals.isFriend %>');
    if('<%= locals.isFriend %>' == 'true'){
        link.html('Remove friend');
    }
    else{
        link.html('Add friend');
    }
</script>
<script src="/js/add_friend.js"></script>